	.container {
		width: 1000px;
		background-color: #E4E4E4;
	}
	body {
		color: #333333;
		background-color: #E4E4E4;
		font-size: 15px;
	}
	a {
		color: #56A590;
	}
	a:hover, a:focus { 
		color: #209E85;
		outline:none;
		text-decoration: none;
	}
	div{
		background-color: white;
	}
	iframe{
		border: 0px;
		width: 815px;
		height: 550px;
		overflow: auto;
	}
	ul li{
		list-style: none;
	}
	/* 头部 */
	#page-head {
		overflow: hidden;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}
	#page-head-logo{
		float: left;
	}
	#page-head-right{
		float: right;
	}
	#page-head-right span{
		margin-left: 20px;
	}
	/* 导航条 */
	#page-nav{
		clear:both;
		padding-top: 15px;
		padding-left: 5px;
		font-size: 20px;
		font-weight: 900;
	}
	/* 中间区域 */
	#page-middle{
		width: 100%;
		overflow: hidden;
		background-color: #E4E4E4;
	}
	#page-middle-nav{
		float: left;
		width: 150px;
		height: 550px;
		font-size: 15px;
		padding-top: 15px;
	}
	#page-middle-nav > ul {
		padding-left:0px;
	}
	#page-middle-right{
		float: right;
		width: 815px;
		height: 550px;
	}
	#page-middle-right-top{
		width: 815px;
		height: 20px;
		margin-top: 10px;
	}
	#page-middle-right ul{
		padding-left: 2px;
	}
	#page-middle-right-top li{
		border-right: 1px solid #56A590;
		border-top: 1px solid #56A590;
		border-top-left-radius: 5px;
		border-top-right-radius: 15px;
		float: left;
		padding-left: 10px;
		padding-right: 10px;
	}
	#page-middle-right-top a{
		cursor: pointer;
		display: inline;
		margin-right: 10px;
	}
	#page-middle-right-below{
		width: 815px;
		height: 530px;
	}
	#page-middle-right-below > ul {
		padding-left:0px;
	}


	/* 尾部 */
	
	/* 自定义样式 */
	.li-hidden{
		display: none;
	}
	.li-show{
		display: block;
	}
	.content-div{
		width: 815px;
		height: 550px;
		overflow: auto;
	}
	.myli-close{
		background-color: #E4E4E4;
		border-bottom: 1px solid #56A590;
	}
	.myli-active{
		background-color: white;
		border-bottom: 1px solid white;
	}

	